:root {
  --primary-color: #278233;
  --secondary-color: #519259;
  --font-family: "Poppins", sans-serif;
}
.logo {
  width: 150px;
}
a {
  font-size: 13px;
}
body {
  font-family: var(--font-family);
  margin-left: 0;
  margin-right: 0;
}
.carousel-inner img {
  opacity: 0.5;
  border: 1px solid #707070;
}
.vertic {
  height: 10px;
  border-left: 5px solid var(--primary-color);
  position: absolute;
  left: 5%;
}
.vertical-header {
  padding-left: 5px;
  padding-top: 2px;
}

.hero-contents {
  color: #000000;
  position: absolute;
  top: 180px;
  left: 150px;
  z-index: 1;
  opacity: 100%;
}
h1 {
  color: #000000;
}
.header-p {
  color: #000000;
}
.navbar {
  background-color: white;
}
.navbar a {
  color: var(--secondary-color);
}
.navbar a:hover {
  color: var(--secondary-color);
}
.navbar-brand {
  color: var(--primary-color);
}
.active-link {
  text-decoration: underline;
}
p {
  font-size: 14px;
}
.button {
  padding: 10px 15px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  letter-spacing: 0px;
  font-weight: lighter;
}

span .first-img {
  max-width: 200px;
  position: absolute;
  top: 690px;
  left: 120px;
}
span .second-img {
  max-width: 200px;
  position: absolute;
  top: 840px;
  left: 120px;
}
span .third-img {
  height: 265px;
  max-width: 180px;
  position: absolute;
  top: 690px;
  left: 305px;
}
.lorem {
  letter-spacing: 0px;
  color: #080808;
  line-height: 2;
  display: block;
  margin: 0 auto;
  padding-top: 60px;
}
.blob {
  position: absolute;
  left: 45px;
  top: 680px;
}
#carouselExampleDark .indicator {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 10px;
}
.short-hr {
  width: 70px;
  height: 2px;
  background-color: #064635;
}
.col-md-8 {
  background-color: #f4eea9;
  color: #000000;
  padding-top: 20px;
  padding-bottom: px;
  padding-left: 20px;
  padding-right: 20px;
}
.third-col {
  padding-top: 70px;
}
footer {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  span .first-img {
    max-width: 120px;
    position: absolute;
    top: 685px;
    left: 59px;
  }
  span .second-img {
    max-width: 120px;
    position: absolute;
    top: 770px;
    left: 59px;
  }
  span .third-img {
    height: 150px;
    max-width: 100px;
    position: absolute;
    top: 685px;
    left: 160px;
  }
  .first-blob {
    width: 300.796;
    left: 30px;
    height: 190.387;
  }
  .blob {
    left: 12px;
    width: 300.898;
    height: 180.43;
    top: 670px;
  }
  .third-col {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  footer {
    text-align: center;
  }
  .hero-contents {
    color: white;
    position: absolute;
    top: 180px;
    left: 52px;
    z-index: 1;
  }
  .short-hr {
    display: block;
    margin: 0 auto;
  }
  .second-col {
    padding-left: 0;
  }
  .lorem {
    text-align: center;
    line-height: 1.5;
    padding-top: 20px;
  }
}
