:root {
  --primary-color: rgb(226, 39, 135);
  --font-family: "Playfair Display", serif;
}
body {
  font-family: var(--font-family);
}
.vertical {
  height: 37px;
  border-left: 5px solid var(--primary-color);
  position: absolute;
  left: 10%;
}
.vertical-header {
  padding-left: 5px;
  padding-top: 2px;
}
.hero-contents {
  color: white;
  position: absolute;
  top: 180px;
  left: 150px;
  z-index: 1;
}
.header {
  color: white;
}
.navbar {
  background-color: white;
  color: black;
  padding: 15px;
}
.navbar-brand {
  color: var(--primary-color);
}
.active-link {
  background-color: rgba(226, 39, 135, 0.5);
  border-radius: 4px;
}
small {
  text-align: center;
}
.button {
  padding: 10px 15px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
}
.button-div {
  margin-left: 120px;
}
.lab-image {
  border-radius: 15px;
  width: 250px;
  height: 300px;
  padding-left: 0;
  margin-left: 0;
}
.lorem {
  padding-top: 70px;
}
.short-hr {
  width: 70px;
  height: 4px;
  background-color: white;
}
.bg-color {
  background-color: var(--primary-color);
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;
}

.second-col {
  padding-left: 50px;
}
.third-col {
  padding-top: 140px;
}
.bg-white {
  background-color: white;
}
@media (max-width: 900px) {
  .third-col {
    padding-top: 0;
  }
  .second-col {
    padding-left: 0px;
  }
  footer {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }
  .short-hr {
    display: block;
    margin: 0 auto;
  }
  .second-col {
    padding-left: 0;
  }
}
